---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Lightbox from '../components/Lightbox.astro';
import Boot from '../components/Boot.astro';
import Colophon from '../components/Colophon.astro';
---

<Layout>
  <Background />
  <Nav />
  <main class="wrap">
    <Hero />
    <Projects />
    <Experience />
    <Education />
    <Contact />
  </main>
  <Colophon />
  <Footer />
  <Lightbox />
  <div class="toast" id="toast"></div>
  <Boot />
</Layout>
