---
// Fixed blueprint background layers. The warp canvas + parallax are driven by
// the client script (src/scripts/client.ts).
---

<div class="bg paper"></div>
<div class="bg aura"></div>
<canvas id="warp" class="bg"></canvas>
<div class="bg grain"></div>
