---
// Brief load overlay; faded out by the client script once the page is ready.
---

<div class="boot" id="boot">
  <div class="bt">Loading Portfolio</div>
  <div class="bbar"><i id="bootBar"></i></div>
</div>
