---
import { dict } from '../i18n/content';

const t = dict.footer;
---

<footer class="footer">
  <div class="wrap">
    <span data-i18n="footer.copy">{t.copy}</span>
    <span data-i18n="footer.tech">{t.tech}</span>
    <span data-i18n="common.location">{dict.common.location}</span>
  </div>
</footer>
